  
body {
  background: #fafafa;
  color: #333333;
  font-family: Poppins;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  color: #444444;
  font-weight: 1000;
}

ul {
  margin: 0;
}
a{
  font-weight: bold;
  font-size: 14px;
}
.container{
  margin-top: 20px;
  align-content: center;
  align-self: center;
}
.body-container{
  margin-top: 10%;
  text-align: center;
  align-content: center;
}
.data-container{
  align-content: center;
}
.bg-steel {
  background-color: #5f788a;
}


.site-header .navbar-nav .nav-link {
  color: black;
  opacity: 0.5;
  margin-left: 25px;
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
  opacity: 1;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  margin: 0 auto;
  /* padding: 10px 20px;
  padding-top: 50px;
  margin-bottom: 20px; */
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.main {
  /* padding-top: 120px; */
  /* margin-top: 120px; */
  align-content: center;
}
.xpadding{
  padding-top: 120px;
  margin-top: 120px;
}

.outline{
  border-width: thin;
  border-style: solid;
  border-color: #e2e2e2c5;
  border-radius: 10px;
  width: 40%;
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

.two{ 
  display: inline-block; 
}

.xc{
  padding-top: 45px;
}

.pt-5{
  padding-top: 70px;
  margin-top: 80px;
}
