{% extends "authHome/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="body-container">
	<div class="row justify-content-md-center">
		<div class="col-md-5">
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class=form-group>
						<legend> Log In</legend>
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Login</button>
					</div>
				</form>
				<div>
					<small class="text-muted">
						Need an account? <a class="ml-2" href="{% url 'reroute' %}">Sign Up Now</a>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}