{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap" rel="stylesheet">


	<link rel="stylesheet" type = "text/css" href="{% static 'authHome/main.css' %}">
	{% if title%}
		<title>Authenticator - {{ title }}</title>
	{% else %}
		<title> Authenticator </title>
	{% endif %}
</head>


<main class="container">
	<div class="row">
		<div class = blocks>
			<div class="col-md-18">
				<div class="main">
					{% for e in employee_list %}
						<li>{{e.your_name}} </li> 
					{% endfor %}
					<h1> {{ request.user.username }} </h1>
					<h1> {{ employerUser.company_name }} </h1>
					
					
				</div>
			</div>
		</div>

		<div class="col-md-18">
			<form method = "POST" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset class = form-group>
					<legend class = "border-bottom mb-4"> Please provide the following info:</legend>
					{{ form|crispy}}
				</fieldset>
				<div class = "form-group">
					<button class = "btn btn-outline-info"  href = "{% url 'rec-redirect' %}" type = "submit">Submit</button>
				</div>
			</form>
		</div>
	</div>

</main>


